@charset "utf-8";
#leftContainer {
	background-image: url(leftnav_mod01.jpg);
}
#mainContent h2 {
	color: #2C5972;
}
#topnav  #module01{
	background-image: url(topnav_mod01_active.jpg);
}
#leftContainer p {
	color: #2C5972;
	border-bottom-color: #2C5972;
}
#leftnav a.active {
	color: #2C5972;
}
#mainContent .callout .top {
	background-image: url(callout_top_mod01.jpg);
}
#mainContent .callout .bottom {
	background-image: url(callout_bottom_mod01.jpg);
}
#mainContent .callout .middle {
	background-image: url(callout_middle_mod01.jpg);
	color: #FFF;
}
#mainContent .callout a {
	color: #E7F0F5;
}