@charset "utf-8";
#leftContainer {
	background-image: url(leftnav_mod03.jpg);
}
#mainContent h2 {
	color: #808A02;
}
#topnav  #module03{
	background-image: url(topnav_mod03_active.jpg);
}
#leftContainer p {
	color: #808A02;
	border-bottom-color: #808A02;
}
#leftnav a.active {
	color: #808A02;
}
#mainContent .callout .top {
	background-image: url(callout_top_mod03.jpg);
}
#mainContent .callout .bottom {
	background-image: url(callout_bottom_mod03.jpg);
}
#mainContent .callout .middle {
	background-image: url(callout_middle_mod03.jpg);
	color: #FFF;
}
#mainContent .callout a {
	color: #DDE388;
}